<% provide(:page_title, 'Browse All Questions') %>
<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-lg-3">
    <span class="text-muted">STATS</span>
      <ul class="list-group shadow mb-4">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Total Members
          <span class="badge bg-primary rounded-pill">
            <%= User.all.count %>
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Totals Questions Asked
          <span class="badge bg-primary rounded-pill"><%= Question.all.count %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Total Answers
          <span class="badge bg-primary rounded-pill">1</span>
        </li>
      </ul>
      <span class="text-muted">NEW USERS</span>
      <ul class="list-group shadow mb-2">
        <% @users.each do |user| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= user.email %>
          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <% if current_user && current_user.admin? %>
          <%= link_to "Dashboard", rails_admin_path, :class=>"btn btn-info mt-2 btn-block"%>
        <% end %>
      <% end %>
      
    </div>
    <div class="col-lg-9">
    <%= link_to new_question_path do %>
      <button class="btn btn-success mb-2 shadow">
        <i class="fas fa-location-arrow"></i> Ask a question
      </button>
    <% end %>
    <% @questions.each do |question| %>
      <div class="card shadow mb-2">
        <div class="card-body">

        <% if user_signed_in? %>
					<% if current_user && current_user == question.user || current_user.admin? %>
              <div class="float-right">
                <% if can? :update, question %>
                    <%= link_to edit_question_path(question) do %>
                      <button class="btn btn-info">
                        <i class="fas fa-pencil-alt"></i>
                      </button>
                    <% end %>
                  <% end %>

                <% if can? :destroy, question %>
                  <%= link_to question, method: :delete,data: { confirm: 'Are you sure?' } do %>
                    <button class="btn btn-danger">
                      <i class="fas fa-minus-circle"></i>
                    </button>
                  <% end %>
                <% end %>
              </div>
          <% end %>
        <% end %>
          
          <p class="card-text lead"><strong><%= question.title %></strong></p>
          <small class="text-muted">Asked by <span class="text-info">
          <% if !question.user.name.blank? %>
            <%= link_to question.user.name, profile_path(question.user) %>
          <% else %>
            <%= link_to question.user.email, profile_path(question.user) %>
          <% end %>
          </span> at <%= question.created_at.strftime("%B, %d, %Y")%></small>
          <br>
          <span class="text-muted">
            <div class="badge badge-info"><i class="far fa-thumbs-up"></i> <%= question.get_upvotes.size %></div>
            <div class="badge badge-info"><i class="far fa-thumbs-down"></i> <%= question.get_downvotes.size %></div>
          </span>
          <%= link_to question do %>
            <button class="btn btn-primary btn-block mt-1">
            <i class="fas fa-arrow-alt-circle-right"></i>
            </button>
          <% end %>
        </div>
      </div>
    <% end %>
    <nav aria-label="Page navigation example" style="margin-top: 15px">
      <ul class="pagination pg-blue justify-content-center">
                <%= will_paginate(@questions,
                :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer,
                inner_window: 1,
                outer_window: 0,
                class: 'text-center') %>
      </ul>
    </nav>
    </div>
  </div>
</div>