<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-11">
      <div class="card shadow">
        <div class="card-body">
          <div class="float-left">
          <%= link_to questions_path do %>
            <button class="btn btn-secondary">
            <i class="fas fa-chevron-circle-left"></i>
            </button>
          <% end %>
          </div>
          <div class="float-right">
            <%= link_to 'Edit', edit_question_path(@question),:class=>"btn btn-info" %>
            <%= link_to 'Delete', question_path, method: :delete, data:{confirm: 'Are you sure?'},:class=>"btn btn-danger" %>
          </div>
          <p class="lead text-center">
            <strong><%= @question.title %></strong>
          </p>
          <p class="text-center">
            <%= image_tag(@question.image_link, :class=>"img-fluid rounded shadow", :size=>"520x650")%>
          </p>
          <p class="text-center text-muted text-italic">Asked <%=time_ago_in_words(@question.created_at) %> ago</p>
          <div class="text-center">
            <%= link_to like_question_path(@question), method: :put do %>
							<button class="btn btn-primary btn-sm">
								<i class="far fa-thumbs-up"></i> <%= @question.get_upvotes.size %>
							</button>
						<% end %>

						<%= link_to dislike_question_path(@question), method: :put do %>
							<button class="btn btn-primary btn-sm">
								<i class="far fa-thumbs-down"></i> <%= @question.get_downvotes.size %>
							</button>
						<% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-2">
  <div class="row justify-content-center">
    <div class="col-lg-11">
      <div class="card shadow">
        <div class="card-body">
          <div class="question-answers">
            <% @answers.each do |answer| %>
              <div id="answer_pane">
                <%= render 'answers/answer', answer: answer %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-2 mb-3">
  <div class="row justify-content-center">
    <div class="col-lg-11">
          <%= form_with model: [@question, @answer], remote: true do |f| %>
					<%= f.text_area :body,:class=>"form-control",placeholder:'Answer',rows:5  %>
					<%= f.submit "Answer",:class=>"btn btn-info mt-2", remote: true %>
          <%= link_to "Back", root_path, :class=>"btn btn-primary mt-2"%>
				<% end %>

    </div>
  </div>
</div>