<div class="container-fluid">
<div class="row justify-content-center">
  <div class="col-lg-11 mb-2">
    <div class="float-left">
      <%= link_to questions_path do %>
        <button class="btn btn-secondary">
          <i class="fas fa-chevron-circle-left"></i>
        </button>
      <% end %>

      <%= link_to new_question_path do %>
        <button class="btn btn-secondary">
          <i class="fas fa-chevron-circle-right"></i>
        </button>
      <% end %>
    </div>

    <% if user_signed_in? %>
					<% if current_user && current_user == @question.user || current_user.admin? %>
              <div class="float-right">
                <% if can? :update, @question %>
                  <%= link_to 'Edit', edit_question_path(@question),:class=>"btn btn-info" %>
                <% end %>

                <% if can? :destroy, @question %>
                  <%= link_to 'Delete', question_path, method: :delete, data:{confirm: 'Are you sure?'},:class=>"btn btn-danger" %>
                <% end %>
              </div>
          <% end %>
      <% end %>
  </div>
  
</div>
  <div class="row justify-content-center">
    <div class="col-lg-11">
      <div class="card shadow">
        <div class="card-body">
          <p class="lead text-center" style="margin-bottom: 0px">
            <strong><%= @question.title %></strong>
          </p>

          <% if @question.image_link %>
            <div class="text-center">
              <%= image_tag(@question.image_link, :class=>"img-fluid rounded shadow mt-4", :size=>"520x650")%>
            </div>
          <% end %>

          <p class="text-center text-muted text-italic">Asked <%=time_ago_in_words(@question.created_at) %> ago</p>
          <% if user_signed_in? %>
            <% unless current_user && current_user == @question.user %>
              <div class="text-center">
                <%= link_to like_question_path(@question), method: :put do %>
                  <button class="btn btn-primary btn-sm">
                    <i class="far fa-thumbs-up"></i> <%= @question.get_upvotes.size %>
                  </button>
                <% end %>

                <%= link_to dislike_question_path(@question), method: :put do %>
                  <button class="btn btn-primary btn-sm">
                    <i class="far fa-thumbs-down"></i> <%= @question.get_downvotes.size %>
                  </button>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @question.answers.count > 0 %>
  <div class="container-fluid mt-2">
    <div class="row justify-content-center">
      <div class="col-lg-11">
        <div class="card shadow">
          <div class="card-body">
            <div class="question-answers">
              <% @answers.each do |answer| %>
                <div id="answer_pane">
                  <%= render 'answers/answer', answer: answer %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container-fluid mt-2">
    <div class="row justify-content-center">
      <div class="col-lg-11">
        <div class="card shadow">
          <div class="card-body">
            <p>No answer found for this question !</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container-fluid mt-2 mb-3">
  <div class="row justify-content-center">
    <div class="col-lg-11">
          <%= form_for [@question, @answer] do |f| %>
					<%= f.text_area :body,:class=>"form-control",placeholder:'Answer',rows:5  %>
					<%= f.submit "Answer",:class=>"btn btn-info mt-2" %>
          <%= link_to "Back", root_path, :class=>"btn btn-primary mt-2"%>
				<% end %>

    </div>
  </div>
</div>