<% if !@user.name.blank? %>
   <% provide(:page_title, "#{@user.name}") %>
<% else %>
   <% provide(:page_title, "#{@user.email}") %>
<% end %>

<div class="container">
   <div class="row justify-content-center animated slideInDown delay-0.5s" style="margin-top: 6vh">
      <div class="col-lg-10">
         <div class="card shadow">
            <div class="card-body">
               
               <!-- Profile Pic -->
               <div class="profile text-center">
                  <% if @user.profile_pic %>
                     <%= image_tag(@user.profile_pic, :class=>"rounded-circle shadow", :size=>"120x120")%>
                  <% else %>
                     <%= image_tag('avatar.png', :class=>"rounded-circle shadow", :size=>"120x120")%>
                  <% end %>
               </div>
               <!-- / Profile Pic -->
               
               <!-- User Full Name -->
               <div class="text-center">
                  <% if @user.name %>
                     <h4 style="margin-top: 20px">
                        <%= @user.name %>
                     </h4>
                  <% else %>
                     <h4 style="margin-top: 20px"><%= @user.email %></h4>
                  <% end %>
               </div>
               <!-- /User Full Name -->
                  <br>

                  <!-- Edit Profile button -->
                  <div class="profile-btn text-center">
                     <% if current_user == @user %>
                        <%= link_to "Edit Profile",
                              edit_user_registration_path,
                              :class=>"btn btn-sm btn-primary shadow" %>
                     <% end %>
                  </div>
                  <!-- /Edit Profile button -->

                  <!-- User Address -->
                  <p class="address mt-4 text-center lead">
                     <% if !@user.address.blank? %>
                        <i class="fas fa-map-marker-alt" style="margin-right: 10px"></i> 
                        <%= @user.address %>
                     <% end %>
                  </p>
                  <!-- /User Address -->

                  <!-- User Mobile Number -->
                  <div class="contact-number text-center mb-2">
                     <% if !@user.contact_number.blank? %>
                        <i class="fas fa-mobile-alt" style="margin-right: 5px"></i>
                        <%= @user.contact_number %>
                     <% end %>
                  </div>
                  <!-- /User Mobile Number -->
                     
                  <!-- Social Media Links -->
                  <div class="social-links text-center">
                     <%= link_to "#{@user.fb_link}",:target=>"_blank" do %>
                        <button class="btn btn-light">
                           <i class="fab fa-facebook-f"></i>
                        </button>
                     <% end %>

                     <%= link_to "#{@user.twitter_link}",:target=>"_blank" do %>
                        <button class="btn btn-light">
                           <i class="fab fa-twitter"></i>
                        </button>
                     <% end %>

                     <%= link_to "#{@user.ig_link}",:target=>"_blank" do  %>
                        <button class="btn btn-light">
                           <i class="fab fa-instagram"></i>
                        </button>
                     <% end %>

                     <%= link_to "#{@user.in_link}",:target=>"_blank" do %>
                        <button class="btn btn-light">
                           <i class="fab fa-linkedin-in"></i>
                        </button>
                     <% end %>
                  </div>
                  <!-- / Social Media Links -->
               </div>
            </div> 
            <%= link_to "Back", root_path, :class=>"btn btn-info btn-block shadow mt-3"%>
         </div>
      </div>
   </div>
</div>