<% provide(:page_title, 'Sign in to your account') %>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-info border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <%= image_tag('origami.png', :size=>"26x26", :class=>"img-fluid -mt-6")%>
    <strong>
      <%= link_to "UPSI Forum", root_path, :class=>"navbar-brand" %>  
    </strong>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <%= link_to "Home", root_path, :class=>"p-2 text-dark" %>
    <%= link_to "Community", team_path, :class=>"p-2 text-dark" %>
    <%= link_to "Contact", contacts_path, :class=>"p-2 text-dark" %>
  </nav>
</div>

<div class="container">
  <div class="row justify-content-center" style="margin-top: 10vh">
    <div class="col-lg-6">
      <div class="text-center">
        <h1 class="mb-3">Log In - UPSI Forum</h1>
      </div>
      <div class="card rounded shadow bg-info">
        <div class="card-body">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log In",:class=>"btn btn-light" %>
              <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= link_to "Sign Up", new_registration_path(resource_name),:class=>"btn btn-light" %><br />
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>