<div class="container">
<p class="text-left text-info">Total <%= Bug.all.count %> bug(s) submitted by different users</p>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <% @bugs.each do |bug| %>
          <div class="card mb-2" style="width: 100%;">
            <div class="card-header">
            <% if user_signed_in? %>
						  <% if current_user && current_user == bug.user || current_user.admin? %>
                <% if can? :destroy, bug %>
                <div class="float-right">
                    <%= link_to bug, method: :delete,data: { confirm: 'Are you sure?' } do %>
                      <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>

              <% if !bug.user.name.blank? %>
                <%= bug.user.name %>
              <% else %>
                <%= bug.user.email %>
              <% end %>
              <br>
              <span class="text-muted"><%= bug.created_at.strftime("%B, %d, %Y")%></span>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= bug.message%></li>
            </ul>
          </div>
        <% end %>
        <%= link_to "Submit a bug", new_bug_path, :class=>"btn btn-info mt-1 mb-2"%>
      </div>
    </div>
</div>
