<!DOCTYPE html>
<html>
  <head>
    <title>Forum | Home</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag ('origami.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <%= render 'shared/alert' %>
    <% if user_signed_in? %>
      <%= render 'shared/navbar_user' %>
    <% else %>
      <%= render 'shared/navbar_public' %>
    <% end %>
    <%= yield %>
  </body>
</html>
